# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Mohan Otieno
tagline: Penetration Tester | Ethical Hacker | AI Software Engineer
email: otienomohan678@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
 Passionate software engineer and ethical hacker dedicated to building secure, efficient applications while identifying and mitigating vulnerabilities to enhance system integrity and performance.
twitter_username: omnisol100
github_username: mohanot
minimal_mistakes_skin: neon
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages
  - _projects
  - _lab-challenges

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

collections:
  projects:
    output: true
    permalink: /projects/:title/
  lab-challenges:
    output: true
    permalink: /lab-challenges/:title/  

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Mohan Otieno"
  avatar : "/assets/images/mohan.jpg"
  bio    : "Penetration Tester | Ethical Hacker | AI Software Engineer"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://mohanotieno.me"
    - label: "X"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/omnisol100"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/mohanot"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/mohan"

footer:
  links:
    - label: "X"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/omnisol100"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/mohanot"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/mohan"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
